/*--自我介绍卡片顶部空格--*/
.firstLine{
  margin-top: 5rem;
  margin-bottom: 5rem;
}
/*---button颜色--*/
.btn-primary{
  background-color: #767980;
  border: 1px solid #767980;
}
.btn-primary:hover{
  background-color: #4c4e53;
  border: 1px solid #4c4e53;
}
.card{
 margin:1rem;
}
.card{
  margin-bottom: 2rem;
}
.picture{
  margin: 1rem;
}
@font-face {
  font-family:"mingchao" ;
  src: url('family/FZFWZhuZGDSMCJW.TTf');
  font-size: normal;
  font-weight: normal;
}
@font-face {
  font-family:"ninan" ;
  src: url('family/FZNiNSJW.TTf');
  font-size: normal;
  font-weight:lighter;
}

.font1{
  font-family: "mingchao";
  font-size: 30px;
}
.font2{
  font-family: "ninan";
  font-size: 17px;
}
