body{
  padding-left: 30em;
  padding-right: :50em;
  padding-top: :50em;
  color:#F28066;
  background-color:#011526;
}
h1{
  margin:0.5em 0;
  padding-left: 1.5em;

}
#title{
  padding-left: 0em;
  font-size: 15px;
  padding-top: 2em;
  padding-bottom: 3em;
  color: #F2D9BB;
}
#question1{
  padding-left: 4.2em;
}
#question2{
  padding-left: 3.4em;
}
p{
  font-size: 25px;
  padding-left:20em;
  margin-left: 6.3em;
  padding:0.3em;

}
button{
  font-size: 15px;
  margin-left: 8.5em;
  margin-top: 0em;
  margin-bottom: 10em;
  padding:0.5em;
  padding-left: 1em;
  padding-right: 1em;
  color:white;
  background-color:#F2505D;
  border: white;
}
#final0{
  font-size: 20px;
  margin-left: 4em;
  padding: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;

}
